/* An's */

/*-------------------------- HomePage ----------------------------*/

/*** banner Img  ***/
.route-collection .a-tour{
  background-color: aliceblue !important;
}
.banner-imgs {
  display: flex;
  justify-content: center;
  width: 98%;
}

.banner-imgs .carousel {
  width: 102%;
}

.banner-imgs .carousel .carousel-inner .carousel-item img {
  width: 100%;
}

/*** end banner Img  ***/

/*** location-selected ***/

.location-selected {
  margin-top: 20px;
  font-size: 16px;
}

#block-title {
  font-weight: bold;
}

.location-selected [class*="col-"] {
  padding-left: 7px;
  padding-right: 7px;
}

.location-selected .locations-block .location-content {
  position: relative;
  width: 100%;
  height: 190px;
  border-radius: 5px;
  background-size: cover;
  margin-top: 7px;
  margin-bottom: 7px;
}

.location-selected .locations-block .location-content .location-info {
  position: absolute;
  bottom: 0px;
  left: 0px;
  display: inline-block;
  padding: 0px 15px;
}

.location-selected .locations-block .location-content .location-info .title {
  color: white;
  margin-bottom: 10px;
  font-size: calc(14px + (26 - 14) * ((100vw - 320px) / (2000 - 320)));
  font-weight: bold;
}

.location-selected .locations-block .location-content .location-info {
  color: white;
  font-size: 1vw;
}

.location-selected .locations-block .location-long-height {
  height: 96.5%;
}

.location-block-space {
    margin-left: -7px !important;
    margin-right: -7px !important;
}

/*** end location-selected ***/

/*** Tay Nguyen palace ***/

.Tay-Nguyen-route {
  margin-top: 50px;
  margin-bottom: 50px;
}

.Tay-Nguyen-route .container {
  padding-left: unset;
  padding-right: unset;
}

.Dong-Nam-Bo-route {
  margin-top: 50px;
  margin-bottom: 50px;
}

.Dong-Nam-Bo-route .container {
  padding-left: unset;
  padding-right: unset;
}

.Bac-Trung-Bo-route {
  margin-top: 50px;
  margin-bottom: 50px;
}

.Bac-Trung-Bo-route .container {
  padding-left: unset;
  padding-right: unset;
}

.route-content .item {
  border-radius: 10px;
}

.route-content .item img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/*** End Tay Nguyen Palace ***/

/*------------------------- Profile  ------------------------*/

.profile-info {
  /* margin-top: 20px; */
  margin-top: 80px;
  margin-bottom: 77px;
}

.profile-info .profile {
  border: 1px solid #6e6e6e;
}

.profile-info .profile-title {
  text-align: center;
  background-color: #d8d8d8;
  font-size: 20px;
  border: 1px solid #6e6e6e;
}

.edit-profile {
  margin-left: 15px;
  margin-bottom: 15px;
  margin-top: 10px;
  color: #3490dc;
  background-color: transparent;
  border-color: #3490dc;
  border-radius: 5px;
  width: 70px;
  height: 40px;
}

.edit-form {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.edit-form .edit-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.edit-form .edit-content .row {
  margin-bottom: 20px;
}

.input-form-edit {
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 10px;
  font-size: 0.9rem;
  color: #495057;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.edit-form .edit-content .edit-title {
  height: 40px;
  border-bottom: 1px solid #e9ecef;
  margin-bottom: 15px;
}

.edit-form .edit-content .edit-title .title {
  float: left;
  width: 90%;
}

.edit-form .edit-content .edit-title .close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  width: 20px;
  margin-top: -10px;
}

.button-edit-submit {
  text-align: center;
}

.edit-form .edit-content .edit-title .close:hover,
.edit-form .edit-content .edit-title .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/*------------------------- Login  ------------------------*/

.login {
  padding-top: 100px;
  padding-bottom: 100px;
  margin-bottom: unset;
  background-image: url(../img/ha-giang-banner.jpg.1758x854_q85_crop.png);
  background-size: cover;
  color: white;
}

.login .login-content {
  background: rgba(12, 12, 12, 0.81);
  width: 40%;
  margin: auto;
}

.login .login-content .title {
  color: #fcb50e;
  font-weight: bold;
  margin-bottom: 50px;
  padding-top: 30px;
  text-align: center;
}

.login .login-content .login-form {
  padding-bottom: 20px;
}

.login .login-content .login-form div {
  margin-bottom: 20px;
}

.login .login-content .login-form .input-form {
  font-style: italic;
  padding: 1em 2em 1em 1em;
  border-radius: 8px;
  width: 100%;
}

.login .login-content .login-form .icon {
  background-color: #fff;
  margin-left: -2.3em;
  color: #fcb50e;
  font-size: 20px;
}

.login .login-content .login-form .checkbox-form a {
  float: right;
  color: white;
}

.login .login-content .login-form .btn-submit {
  text-align: center;
  margin-top: 30px;
}

.login .login-content .login-form .btn-submit button {
  text-align: center;
  background-color: rgba(12, 12, 12, 0.81);
  color: #fff;
  padding: 1em 2em 1em 1em;
  border-radius: 10px;
  font-weight: 400;
  line-height: inherit;
  border-style: outset;
  font-weight: 500;
  border: 3px solid;
  border-image: initial;
}

.login .login-content .login-form .btn-submit a {
  margin-top: 30px;
  text-align: center;
  background-color: rgba(12, 12, 12, 0.81);
  color: #fff;
  text-decoration: none;
  padding: 1em 2em 1em 1em;
  border-radius: 10px;
  font-weight: 400;
  line-height: inherit;
  border-style: outset;
  font-weight: 500;
  border-image: initial;
}

.login .login-content .login-form .btn-submit a:hover {
  color: #26bed6;
}

.login .login-content .login-form .register-suggest {
  text-align: center;
}

.login .login-content .login-form .btn-submit button span {
  font-weight: 500;
}

.login .login-content .login-form .btn-submit button:hover {
  color: #26bed6;
}

.login .login-content .login-form .btn-submit button span a {
  color: #fff;
  text-decoration: none;
}

.login .login-content .login-form .btn-submit button span a:hover {
  color: #26bed6;
}

/*------------------------- End Login  ------------------------*/

/*------------------------- Reponsive  ------------------------*/

@media only screen and (max-width: 1024px) {
  /* Login Page */
  .login .login-content {
    width: 60%;
  }
}

@media only screen and (max-width: 768px) {
  /* Login Page */
  .login .login-content {
    width: 80%;
  }
}

@media only screen and (max-width: 480px) {
  /* Login Page */
  .login .login-content {
    width: 100%;
  }
}

@media only screen and (max-width: 320px) {
  .login .login-content .login-form .checkbox-form a {
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

/*------------------------- End Reponsive  ------------------------*/

/* CUONG */

/* @media only screen and (max-width: 1425px) {
  .manage-tour filter.tour-filter {
    flex-direction: column;
  }
} */

.filter,
.manage-tour,
.edit-tour,
.manage-location {
  font-size: calc(14px + (26 - 14) * ((100vw - 320px) / (2000 - 320)));
}

.filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 10vh;
  background: #26bed6;
  margin: auto;
  padding-left: 20vw;
  padding-right: 20vw;
}

.filter div {
  font-size: 0.6em;
  padding: 10px;
  width: fit-content;
}

.filter select {
  padding: 0.3em;
  border-radius: 5px;
}

.manage-tour {
  margin: auto;
}

.manage-tour .view-tour {
  justify-content: center;
  font-size: 0.5em;
  padding: 1em;
}

.manage-tour .view-tour .tour-element {
  width: 20em;
  background: rgb(155, 215, 223);
  border-radius: 1em;
  padding: 0.5em;
  margin: 1em;
}

.manage-tour .view-tour .tour-element:hover {
  border: 0.1em solid #000;
}

.manage-tour .view-tour .tour-element .local {
  position: relative;
  margin-top: -1.4em;
  border-bottom-left-radius: 10px;
  background-color: rgba(38, 190, 214, 0.8);
  width: fit-content;
}

.manage-tour .view-tour .tour-element .img img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.manage-tour .view-tour .tour-element .button button {
  margin-top: 0.4em;
  border-radius: 10px;
  width: 5em;
  height: auto;
  padding: 0.5em;
  font-weight: bold;
}

.manage-tour .view-tour .tour-element .button .edit {
  margin-left: 1em;
  border: 0.1em solid rgb(66, 66, 226);
  color: rgb(66, 66, 226);
}

.manage-tour .view-tour .tour-element .button .edit:hover {
  background-color: rgb(66, 66, 226);
  color: white;
}

.manage-tour .view-tour .tour-element .button .clear {
  border: 0.1em solid rgb(226, 66, 66);
  color: rgb(226, 66, 66);
}

.manage-tour .view-tour .tour-element .button .clear:hover {
  background-color: rgb(226, 66, 66);
  color: white;
}

/* Bao's  */

#tour_regis_table_wrapper,
#account-manage_wrapper {
  margin: 2em 0 !important;
}

.margin-v {
  margin-top: 2em !important;
  margin-bottom: 2em !important;
}

.margin-top {
  margin-top: 2em !important;
}

.margin-bottom {
  margin-bottom: 3em !important;
}

.selected {
  background-color: #d13b40 !important;
}

.zoom:hover {
  transform: scale(1.5);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

td,
th {
  text-align: center;
}

.card {
  color: black !important;
}

a.custom-card,
a.custom-card:hover {
  color: black;
}

#jum_account {
  background-image: url("../img/admin/jumbotron-green.png") !important;
}

#jum_tour {
  background-image: url("../img/admin/jumbotron-blue.png") !important;
}

.yellow_gradi {
  background-image: linear-gradient(
    135deg,
    #fdeb71 10%,
    #f8d800 100%
  ) !important;
}

.blue_gradi {
  background-image: linear-gradient(
    135deg,
    #feb692 10%,
    #ea5455 100%
  ) !important;
}

.dropdown:hover > .dropdown-menu {
  display: block !important;
  border-radius: 10px;
  /* background-color: red!important; */
}

.dropdown-item {
  color: black !important;
}

/* Cuong's */

.manage-tour .add-tour {
  overflow: hidden;
}

.manage-tour .add-tour .btn {
  float: right;
  padding: 10px;
  width: 150px;
  margin-right: 100px;
  font-weight: bold;
  font-size: large;
  margin-bottom: 50px;
}

/* The Modal (background) */

.create-tour {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */

.create-tour .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 40%;
  position: relative;
  margin: auto;
  width: 50%;
  padding: 0;
  border: 1px solid #888;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(113, 9, 121, 1) 47%,
    rgba(0, 212, 255, 1) 100%
  );
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.create-tour .content #tourName {
  padding: 5px;
  width: 60%;
  border-radius: 10px;
}

.create-tour .content button {
  margin: 10px;
  width: 100px;
}

/* Add Animation */

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* ------ edit tour --------- */

@media only screen and (max-width: 770px) {
  .edit-tour .form {
    flex-direction: column;
  }
}

.edit-tour {
  padding-top: 2em;
  padding-bottom: 2em;
}

.edit-tour .form {
  background-color: rgb(73, 186, 238);
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
}

.edit-tour .form .tour-detail {
  flex: 60%;
  padding: 1em;
}

.edit-tour .form .tour-detail .tour {
  margin-top: 2em;
  display: flex;
}

.edit-tour .form .tour-detail .tour .avt {
  width: 50%;
  text-align: center;
}

.edit-tour .form .tour-detail .tour .avt #avtImg {
  width: 90%;
  height: auto;
  border-radius: 50%;
}

.edit-tour .form .tour-detail .tour .avt .glyphicon {
  color: greenyellow;
}

.edit-tour .form .tour-detail .tour .tour-id {
  margin-left: 1em;
  margin-top: auto;
  margin-bottom: auto;
}

.edit-tour .form .tour-detail .tour .tour-id span {
  background-color: #4ee41c;
  border-radius: 5px;
  padding: 0.1em;
  font-weight: bold;
  font-size: 1em;
}

.edit-tour .form .tour-detail label {
  color: white;
  font-size: 0.7em;
}

.edit-tour .form .tour-detail textarea {
  border-radius: 5px;
  resize: vertical;
  width: 70%;
  padding: 0.1em;
}

.edit-tour .form .tour-detail select {
  border-radius: 5px;
  padding: 0.1em;
}

.edit-tour .tour-detail .info {
  margin: 1em;
}

.edit-tour .tour-detail .timebox input {
  width: 2em;
}

.edit-tour .tour-detail .timebox label {
  margin-right: 1em;
}

.edit-tour .tour-detail .summary #summary div {
  display: flex;
  align-items: center;
  margin-bottom: 0.2em;
}

.edit-tour .tour-detail .summary #summary div button {
  margin-left: 0.2em;
  padding: 0.1em;
  border-radius: 5px;
  width: 2.5em;
  border: 0.1em solid rgb(196, 16, 55);
  color: rgb(196, 16, 55);
  font-weight: bold;
}

.edit-tour .tour-detail .summary #summary div button:hover {
  background-color: rgb(196, 16, 55);
  color: white;
  border: 0.1em solid black;
}

.edit-tour .tour-detail .summary #add-summary {
  background-color: rgb(58, 24, 209);
  color: white;
  border-radius: 5px;
  padding: 0.2em;
}

.edit-tour .tour-detail .price input {
  text-align: right;
}

.edit-tour .form .detail-images {
  flex: 40%;
  margin-top: 2em;
  text-align: center;
}

.edit-tour .form .detail-images p {
  font-size: large;
}

.edit-tour .form .detail-images .image {
  position: relative;
}

.edit-tour .form .detail-images .image span {
  position: absolute;
  top: 20%;
  right: 15%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  border: none;
  cursor: pointer;
  color: red;
  /* size: 20px; */
}

.edit-tour .form .detail-images img {
  margin: 0.7em;
  width: 70%;
  height: auto;
  border-radius: 5px;
}

.edit-tour .form .detail-images ul {
  list-style-type: none;
}

.edit-tour .form .detail-images input {
  margin: auto;
}

.edit-tour .form .submit {
  margin: auto;
}

.edit-tour .form .submit .btn {
  margin: 1em;
  width: 5em;
  margin-bottom: 2em;
}

/* ---------- manage location ------------- */

.manage-location {
  padding: 1em;
}

.manage-location .manage-header {
  display: flex;
}

.manage-location .manage-header span {
  padding-left: 0.6em;
  flex: 80%;
  font-size: 0.8em;
}

.manage-location .manage-header .button {
  flex: 20%;
}

.manage-location .manage-header .button button {
  border: 0.1em solid green;
  color: green;
  border-radius: 10px;
  background-color: white;
  font-size: 1em;
  width: 2em;
  align-self: center;
}

.manage-location .manage-header .button button:hover {
  border: 0.1em solid black;
  background-color: green;
  color: white;
}

.manage-location .manage-header .button span {
  padding: 0;
  margin: auto;
}

.manage-location .list-location {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: start; */
  justify-content: center;
}

.manage-location .list-location .location {
  padding: 1em;
  border-radius: 5px;
  width: 20em;
  height: auto;
  background-size: cover;
  overflow: hidden;
  margin: 0.5em;
}

.manage-location .list-location .location:hover {
  border: 0.1em solid black;
}

.manage-location .list-location .location .location-name {
  font-size: 1em;
  vertical-align: bottom;
  color: rgb(37, 24, 126);
  font-weight: bold;
  height: 30%;
}

.manage-location .list-location .location .content {
  height: 70%;
  padding-top: 30%;
}

.manage-location .list-location .location .content .description {
  padding-right: 0.5em;
  height: 50%;
  font-size: 0.5em;
  vertical-align: bottom;
  color: rgb(5, 24, 44);
}

.manage-location .list-location .location .content .delLocation {
  padding-left: 1em;

  margin: 0.5em;
}

.manage-location .list-location .location .content .delLocation span {
  background-color: red;
  padding: 0.5em;
  border-radius: 5px;
  font-size: 0.5em;
}

.manage-location .create-location {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */

.manage-location .create-location .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 40%;
  position: relative;
  margin: auto;
  width: 50%;
  padding: 0;
  border: 1px solid #888;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(113, 9, 121, 1) 47%,
    rgba(0, 212, 255, 1) 100%
  );
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.manage-location .create-location .content #locationName {
  padding: 5px;
  width: 60%;
  border-radius: 10px;
}

.manage-location .create-location .content button {
  margin: 10px;
  width: 100px;
}

/*Kim's*/

.a-tour {
  background-color: white;
  height: 440px;
  max-width: 322px;
  margin: 16px;
  padding: 0px;
}

.a-tour img {
  max-width: 100%;
  height: 50%;
}

.a-tour .local {
  position: absolute;
  bottom: 50%;
  background-color: rgba(38, 190, 214, 0.7);
  padding: 1.4%;
  width: fit-content;
  border-top-right-radius: 6px;
}

.a-tour .decript {
  padding: 12px;
}

.decript .summary {
  padding-left: 24px;
  color: #26bed6;
}

.decript .price {
  color: #26bed6;
  align-self: flex-end;
  font-size: larger;
  font-weight: 700;
  text-align: right;
}

.a-tour a {
  text-decoration: none;
  color: black;
}

.a-tour a:hover {
  color: #26bed6;
}
