* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

body {
  background: #f2f2f2;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
section {
  margin-bottom: 25px;
}

.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

/* Header  */
#main-header .header-top-bar {
  display: flex;
  flex-wrap: wrap;
}

#main-header .header-top-bar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#main-header .header-top-bar a {
  margin-right: 10px;
  margin-left: 10px;
  font-size: 17px;
  color: #292a2c;
  text-decoration: none;
}

#main-header .header-top-bar a:hover {
  color: rgb(40, 94, 116);
}

#main-header .header-top-bar .cart {
  float: right;
}

#main-header .header-top-bar {
  background: rgb(190, 186, 186);
  height: 35px;
}

#main-header .header-bottom-bar {
  background: linear-gradient(10deg, #66a6ff 0%, #89f7fe 100%);
}

#main-header .header-bottom-bar .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}

#main-header .header-bottom-bar .logo {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -1px;
}

#main-header .header-bottom-bar .logo img {
  width: 90px;
}

#main-header .header-bottom-bar .nav-items {
  display: flex;
  flex: 1;
  padding: 15px 0 0 40px;
}

#main-header .header-bottom-bar .nav-items li {
  display: inline;
  list-style: none;
  padding: 0 15px;
}

#main-header .header-bottom-bar .nav-items li a {
  color: black;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
}

#main-header .header-bottom-bar .nav-items .active a {
  color: white;
}

#main-header .header-bottom-bar .nav-items li a:hover {
  color: #ff3d00;
}

#main-header .header-bottom-bar form {
  display: flex;
  height: 40px;
  padding: 2px;
  background: #1e232b;
  min-width: 18% !important;
  border-radius: 2px;
  border: 1px solid rgba(155, 155, 155, 0.2);
}

#main-header .header-bottom-bar form .search-data {
  width: 100%;
  height: 100%;
  padding: 0 10px;
  color: #fff;
  font-size: 17px;
  border: none;
  font-weight: 500;
  background: none;
}

#main-header .header-bottom-bar form button {
  padding: 0 15px;
  color: #fff;
  font-size: 17px;
  background: #ff3d00;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

#main-header .header-bottom-bar form button:hover {
  background: #e63600;
}

#main-header .header-bottom-bar .menu-icon,
#main-header .header-bottom-bar .cancel-icon,
#main-header .header-bottom-bar .search-icon {
  width: 40px;
  text-align: center;
  margin: 0 50px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  display: none;
}

#main-header .header-bottom-bar .menu-icon span,
#main-header .header-bottom-bar .cancel-icon,
#main-header .header-bottom-bar .search-icon {
  display: none;
}

.space {
  margin: 10px 0;
}

#main-header .header-bottom-bar .logo.space {
  color: red;
  padding: 0 5px 0 0;
}

/* end header */
/* start footer */
#main-footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background: linear-gradient(10deg, #66a6ff 0%, #89f7fe 100%);
  color: #fff;
  padding-bottom: 1px;
}

#main-footer .footer-top-area {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

#main-footer .footer-top-area hr.light {
  border: 1px solid #d5d5d5;
}

#main-footer .footer-bottom {
  text-align: center;
}

#main-footer .footer-bottom .light-bottom {
  border: 0.05rem solid #6d6c6e;
  width: 98%;
}

/* end footer */
/* Responsive */

@media only screen and (max-width: 1200px) {
  #main-header .header-bottom-bar .nav-items li {
    display: block;
  }
  #main-header .header-bottom-bar form {
    position: absolute;
    top: 80px;
    right: 50px;
    opacity: 0;
    pointer-events: none;
    transition: top 0.3s ease, opacity 0.1s ease;
  }

  #main-header .header-bottom-bar .container {
    width: unset !important;
    padding: unset;
  }

  #main-header .header-bottom-bar .logo {
    flex: 2;
    text-align: center;
  }

  #main-header .header-bottom-bar .nav-items {
    position: fixed;
    z-index: 99;
    top: 106px;
    width: 100%;
    left: -100%;
    height: 100%;
    padding: 10px 50px 0 50px;
    text-align: center;
    background: linear-gradient(10deg, #66a6ff 0%, #89f7fe 100%);
    display: inline-block;
    transition: left 0.3s ease;
  }

  #main-header .header-bottom-bar .nav-items.active {
    left: 0px;
  }

  #main-header .header-bottom-bar .nav-items li {
    line-height: 40px;
    margin: 30px 0;
  }

  #main-header .header-bottom-bar .nav-items li a {
    font-size: 20px;
  }

  #main-header .header-bottom-bar form {
    position: absolute;
    top: 80px;
    right: 50px;
    opacity: 0;
    pointer-events: none;
    transition: top 0.3s ease, opacity 0.1s ease;
  }

  #main-header .header-bottom-bar form.active {
    top: 105px;
    opacity: 1;
    pointer-events: auto;
    z-index: 1000;
  }

  #main-header .header-bottom-bar .menu-icon {
    display: block;
  }

  #main-header .header-bottom-bar .search-icon,
  #main-header .header-bottom-bar .menu-icon span {
    display: block;
  }

  #main-header .header-bottom-bar .menu-icon span.hide,
  #main-header .header-bottom-bar .search-icon.hide {
    display: none;
  }

  #main-header .header-bottom-bar .cancel-icon.show {
    display: block;
  }
}

@media only screen and (max-width: 780px) {
  #main-header .header-bottom-bar .menu-icon,
  #main-header .header-bottom-bar .cancel-icon,
  #main-header .header-bottom-bar .search-icon {
    margin: 0 20px;
  }

  #main-header .header-bottom-bar form {
    right: 30px;
  }
  #main-header .header-top-bar .container {
    width: 100%;
  }
  .container {
    width: 100%;
  }
  #main-header .header-top-bar .cart span {
    display: none;
  }
  #main-header .header-top-bar a {

  }
}

@media only screen and (max-width: 350px) {
  #main-header .header-bottom-bar .menu-icon,
  #main-header .header-bottom-bar .cancel-icon,
  #main-header .header-bottom-bar .search-icon {
    margin: 0 10px;
    font-size: 16px;
  }
}

/* end responsive */
